.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.topInputAddBlock {
	display: flex;
	justify-content: center;
	justify-content: space-between;
}
.topInput {
	width: 200px;
	height: 25px;
	border-radius: 10px;
	border: 1px solid red;
	margin-right: 20px;
}

.topButton {
	border-radius: 5px;
	height: 25px;
}

.block {
	display: flex;
	justify-content: space-between;
	width: 300px;
	border: 1px solid red;
	border-radius: 10px;
	margin: 10px;
	padding: 20px;
	color: #030b01;
}

.blockName {
	display: flex;
}

.blockName input {
	width: 15px;
	height: 15px;
}

.linedItem {
	text-decoration: line-through;
}

.icons {
	display: flex;
}

.icons div {
	margin-left: 10px;
}

.editIcon {
	cursor: pointer;
}

.deleteIcon {
	cursor: pointer;
}

.editedItemInput {
	max-width: 150px;
}
